* {
  box-sizing: border-box;
}

body {
  background: no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin: 0 auto;
}

.content-box {
  padding-top: 45px;
}

.forecastToggle {
  height: 75px;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid black;
}

.forecastToggle p {
  margin: 0;
}

.forecast,
.chart {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.current__time-text {
  font-size: 2rem;
  padding-right: 0px;
}

.location-sm {
  padding-top: 30px;
}

.col-0-sm {
  width: 0%;
}

.col-2-sm {
  width: 16.66%;
  float: left;
}

.col-3-sm {
  width: 25%;
  float: left;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
}

.col-6-sm {
  width: 50%;
  float: left;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.col-8-sm {
  width: 66.66%;
  float: left;
}

.col-10-sm {
  width: 83.33%;
  float: left;
}

.col-12-sm {
  width: 100%;
  float: left;
  text-align: center;
}

.col-forecast7-sm {
  width: 14.2857%;
  float: left;
  text-align: center;
}

@media (min-width: 1200px) {
  .current__time-text {
    font-size: 2rem;
    padding-right: 45px;
  }

  .location {
    padding-top: 0px;
  }

  .col-2-md {
    width: 16.66%;
    float: left;
  }

  .col-4-md {
    width: 33.33%;
    float: left;
  }

  .col-6-md {
    width: 50%;
    float: left;
  }

  .col-8-md {
    width: 66.66%;
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .col-10-md {
    width: 83.33%;
    float: left;
  }

  .col-forecast7-md {
    width: 14.2857%;
    float: left;
    text-align: center;
  }
}

.current {
  display: inline-block;
}

.current-condition {
  text-align: center;
}

.current-condition-icon {
  height: 6rem;
  display: block;
  margin: auto;
}

.current-condition-text {
  font-size: 1.5rem;
  padding-left: 4px;
  margin: 0;
}
@media (min-width: 1200px) {
  .current__temp-box {
    padding: 30px 0 30px 50px;
  }
}
.current__temp-text {
  font-size: 4rem;
}

.current__temp-head {
  font-size: 1.6rem;
}

.current__temp-high-title {
  font-size: 1.4rem;
}

.current__temp-low-title {
  font-size: 1.4rem;
}

.current__temp-value-high {
  color: red;
  font-size: 1.4rem;
}

.current__temp-value-low {
  color: blue;
  font-size: 1.4rem;
}

.current__percip-head {
  display: inline-block;
  padding-top: 15px;
  font-size: 1.6rem;
}

.current-humidity {
  font-size: 1.4rem;
  padding-left: 1rem;
}

.current-percip {
  font-size: 1.4rem;
  padding-left: 1rem;
}
.divide {
  margin-left: 5px;
  margin-right: 5px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.row-padding-b {
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}

.forecastDiv,
.chartDiv {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px black;
}

.forecast-h {
  color: red;
}

.forecast-l {
  color: blue;
}

.forecast-date {
  font-size: 0.9rem;
}

.map {
  padding-top: 0px;
  padding-left: 5px;
}

.top-padding {
  padding-top: 20px;
}

.header {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 10px 0 30px 0;
  height: 4rem;
}

@media (min-width: 470px) {
  .header {
    height: 2rem;
    margin: 0;
  }
}

svg {
  width: 100%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5);
}

#d3 {
  height: 400px;
}
.line {
  fill: none;
  stroke: blue;
  stroke-width: 3;
}

.dot {
  fill: white;
  stroke: blue;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 16px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.searchError {
  color: red;
  font-size: 1.25rem;
}

#loading {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 10000px;
  background-color: #f4c042;
}
